#about {
  #marketer {
    figure {
      width: 75%;
      margin: auto;
    }

    figcaption {
      text-align: center;
    }
  }

  #filmmaker {
    img {
      max-height: 5rem;
    }

    .card-body {
      padding: .75rem;
    }
  }
}
