#contact {
  // ToDo: the contact form does not make use of this yet
  //noinspection CssUnusedSymbol
  .erroneousField {
    //noinspection SassScssResolvedByNameOnly
    border-color: $banner-text;
    //noinspection SassScssResolvedByNameOnly
    color: $banner-text;
  }

  input, textarea {
    //noinspection SassScssResolvedByNameOnly
    border-color: $banner-text;
  }
}
