#contentmarketing {
  h1 {
    padding: 0.75rem;
  }

  .question {
    text-align: center;
    font-size: 150%;
  }

  #offerings {
    text-align: center;

    .items p {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  #picture {
    figure {
      margin: 1rem auto 1rem auto;
    }
  }

}
