//noinspection SassScssResolvedByNameOnly
#furniture {
  //noinspection SassScssResolvedByNameOnly
  background-color: $banner-background;
  //noinspection SassScssResolvedByNameOnly
  color: $banner-text;

  #banner {
    margin: 0.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
    line-height: 1;
    font-size: 6rem;
    @media (max-width: 767.98px) {
      font-size: 3rem;
    }
    @media (max-width: 575.98px) {
      font-size: 1.5rem;
    }

    #subTitle {
      font-size: 35%;
    }

    #logo {
      border-right: 5px;
      vertical-align: bottom; // so that it looks nice wrt the words
      border-color: white; // give a little bit of white all around the picture
      border-style: solid;
      border-radius: .25rem; // matches the radius given to cards
      // the corresponds to the height of the big letters in this banner - these break-points correspond to the heights set for the
      // #banner (above)
      height: 6rem;
      @media (max-width: 767.98px) {
        height: 3rem;
      }
      @media (max-width: 575.98px) {
        height: 1.5rem;
      }

    }
  }
}

h1, h2 {
  text-align: center;
}

a {
  font-weight: bold;
  font-style: italic;
  //noinspection SassScssResolvedByNameOnly
  color: $banner-text;
}

.lead {
  font-weight: bold;
  margin-bottom: .5rem;
  text-align: center;
}

//noinspection SassScssResolvedByNameOnly
.brandedButton {
  background-image: linear-gradient(to bottom, $nav_bg_gradient_light 0%, $nav_bg_gradient_dark 100%);
  border-radius: .6rem;
  text-shadow: 1px 1px $banner-text;
  margin: 0.5em;
  border-color: $banner-text;
  color: $nav_text;
  text-align: center;
}

.brandedButton:hover {
  //noinspection SassScssResolvedByNameOnly
  color: $nav_text;
}

//noinspection SassScssResolvedByNameOnly
.img-thumbnail {
  border-color: $banner-text;
}

.card {
  margin: .25rem;
  //noinspection SassScssResolvedByNameOnly
  border-color: $banner-text;
}

figcaption {
  text-align: center;
}

/* for tabbed navs */
.nav-tabs {
  //noinspection SassScssResolvedByNameOnly
  border-bottom: 1px solid $banner-text;

  //noinspection SassScssResolvedByNameOnly
  .nav-link {
    background-color: #d3d3d3;
    border-bottom-color: #6d343d !important;
    font-weight: lighter;
    color: #6d343d !important;
  }

  //noinspection SassScssResolvedByNameOnly,SassScssResolvedByNameOnly
  .nav-link.active {
    font-weight: bolder;
    border-color: $banner-text $banner-text #fff !important;
  }
}

//noinspection SassScssResolvedByNameOnly
.tab-content {
  border-color: $banner-text;
  border-style: solid;
  border-width: 1px;
  border-top-width: 0;
  padding: 1rem;
}

/* end of stuff for tabbed interfaces */

/* Main navbar */
//noinspection SassScssResolvedByNameOnly
#mainNav {
  width: 100%;
  background-color: $nav_bg_gradient_light;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from($nav_bg_gradient_light), to($nav_bg_gradient_dark));
  background-image: -webkit-linear-gradient(top, $nav_bg_gradient_light, $nav_bg_gradient_dark);
  background-image: -moz-linear-gradient(top, $nav_bg_gradient_light 0%, $nav_bg_gradient_dark 100%);
  background-image: linear-gradient(to bottom, $nav_bg_gradient_light 0%, $nav_bg_gradient_dark 100%);
  background-repeat: repeat-x;
  border: thin solid $banner-text;
  padding: 0;

  ul {
    margin-top: 0 !important; // this prevents an uncomfortable margin situation at around the small breakpoint
  }

  //noinspection SassScssResolvedByNameOnly
  .nav-item {
    border-color: $banner-text;
    border-width: 0 1px 0 1px;
    border-style: solid;
    margin: 0;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }

  a {
    font-style: normal;
    text-align: center;
  }

  .active {
    font-size: 110%;
  }
}

/* ends main nav bar */
