#home {

  #me {
    width: 100%;
  }

  #myCarousel {
    display: flex;
    align-items: center;
    height: fit-content;

    .carousel-inner {
      text-align: center;
      padding: 0.25em;
    }

    .carousel-item > img {
      margin: auto;
      //noinspection SassScssResolvedByNameOnly
      border: thin groove $banner-text;
    }
  }

  #instagramFeed {
    .card-body {
      padding: 0.25rem;
    }
  }

  #mc-embedded-subscribe-form {
    margin: auto !important;
  }

  #cta {
    p {
      margin: .75rem;
      font-size: x-large;
      text-align: center;
    }

    a {
      margin: .75rem;
    }
  }

  ol {
    list-style: none;

    li {
      margin-bottom: .3rem;
    }
  }
;
}
