$banner-background: #D690A8;
$banner-text: #6D343D;
$nav_bg_gradient_light: #bc7b85;
$nav_bg_gradient_dark: #88434e; // #ab5966;
$nav_text: #ffffff;
$nav_text_active: $banner-text;
$link_colour: $banner-text;

a {
  color: $link_colour;
}

/* the following noInspections are just because it doen't actually know about them */
//noinspection CssUnusedSymbol
.newTabInd::after {
  content: url("/ass/open-iconic/layers.svg");
}

// the following stops the newTabInd symbol crashing up against the words in
//noinspection CssUnusedSymbol
.newTabInd > .linkText {
  padding-right: 0.5rem;
}
