$banner-background: #D690A8;
$banner-text: #6D343D;
$nav_bg_gradient_light: #bc7b85;
$nav_bg_gradient_dark: #ab5966;
$nav_text: #ffffff;
$nav_text_active: $banner-text;
$link_colour: $banner-text;

a {
  color: $link_colour;
}

.newTabInd::after {
  content: url("/ass/open-iconic/layers.svg");
}
