@charset "utf-8";
/* CSS Document */
.modal-dialog {
    max-width: 75%;
}

#watcherTreat img {
    width: 99%;
}

.imageBox {
    align-content: center;
}

.textBox {
    text-align: left;
}

.newTabInd::after {
    content: url("/ass/glob/newTab.gif");
}
