RewriteEngine on

RewriteCond %{HTTPS} !on
RewriteRule (.*) https://%{SERVER_NAME}%{REQUEST_URI} [L,R=301]

RewriteRule ^index\.php$ - [NC,L]

RewriteCond %{REQUEST_URI} !\.(png|gif|jpg|jpeg|svg|js|css|mp3|wav|txt|map|ico|pdf|xml)$ [NC]
RewriteCond %{REQUEST_URI} !^/cms [NC]
RewriteCond %{REQUEST_URI} !sendmail\.php [NC]

RewriteRule ^(.*)$ index.php?%{QUERY_STRING}  [NC]

# initial quick fix for caching different resources
# One year for image files - once in place, they are very unlikely to change
<filesMatch ".(jpg|jpeg|png|gif|ico)$">
Header set Cache-Control "max-age=31536000, public"
</filesMatch>
## One month for css and js - these are pretty stable, now
<filesMatch ".(css|js)$">
Header set Cache-Control "max-age=2628000, public"
</filesMatch>
