@charset "utf-8";
/* CSS Document */
#posterBox {
    text-align: center;
}

#fbBox {
    text-align: center;
}

#fbEmbed {
    height: 95%;
    max-width: 100%;
}

#diaRow {
    width: 100%;
}

#diaBox {
    margin: auto;
}

#linkBox {
    width: 95%;
}

#poster {
    margin: 1.5em auto 1.5em auto;
    max-width: 98%;
    border-style: solid;
    border-color: black;
    border-width: thin;
}

#description {
    padding: 2em;
}

#vidBlock h2 {
    margin-top: 0;
    margin-bottom: 0.05em;
}
