/* CSS Document */

.modal-content {
    width: fit-content !important;
}

.row {
    border-top: thin grey double;
}

button {
    float: right;
    margin: 0.3em;
}

#content {
    background-color: #5D0F25;
    color: white;
}

a {
    color: white;
    text-decoration: underline;
}

.assetButton {
    width: 2em;
    height: auto;
}

/*#vidEmbed {
	width: 98%;
	max-width: 720px;
	height: auto;
}*/
#pdfEmbed {
    height: 30em;
    width: 30em;
}

.sepWindTxt, .sepWindLink {
    color: darkgray;
    text-align: center;
}

.close-button {
    margin: auto !important;
}
